/* *******************************************VARIABLES NAVARRO*************************************************** */


body {
    background: #eb7ce3;
    background: radial-gradient(circle, rgba(235, 124, 227, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #27273d;
    font-family: 'Lora', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   

}


/* MAIN */
main {
    flex: 1;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.hero-inner img:hover, .img-login:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
    
}
.hero-inner img:hover, .img-login:hover, .img-landing:hover{
    border-color: #e68fe0;
}



.music-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 320px;
    padding: 12px;

    display: flex;
    gap: 15px;
    align-items: center;

    background: rgba(30, 30, 30, .9);
    color: white;

    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    z-index: 100;
}

.music-widget img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.music-info {
    flex: 1;
}

.music-info h4 {
    margin: 0;
    font-size: 16px;
}

.music-info p {
    margin: 0;
    color: #b3b3b3;
    font-size: 14px;
}

.music-widget audio {
    width: 150px;
}

/* CARDS */
.card, .project-card {
    background: #FAFAFA;
    border-radius: 18px;
    padding: 2rem;
    box-shadow: 0 2px 16px rgba(194, 133, 106, 0.07);
    animation: fadeUp 10s ease;  /* ESTO DESPUES LO TENGO QUE CAMBIAR JAAJAJAAJ */
}


.card{
    border: 1px solid #e8d9c5;
    
}

/* HERO */
.hero-inner {
    display: flex;
    gap: 1.75rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* FOTO */
.photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #e8d9c5;
}

.hero-text {
    flex: 1;
    min-width: 180px;
}

.section-label {
    font-size: 0.9rem;
    color: #667085;
    text-transform: uppercase;
}

h1 {
   
    font-size: clamp(1.7rem, 4vw, 2.4rem);
    line-height: 1.15;
    color: #3d2f27;
    margin-bottom: 0.75rem;
}

em {
    font-style: italic;
    color: #1e6ee7;
}

.biografia {
    color: #4A4A4A;
    font-size: 0.88rem;
    line-height: 1.85;
}

/* PROYECTOS */


.project-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.project-card .section-label{
    margin: 0;
    align-self: flex-start;
}
.project-card:hover, .card:hover {
    transform: translateY(-5px);
    
    transition: .3s;
}

.project-card img {
    width: 300px;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #e8d9c5;
}


.img-landing {
    transform: translate(50px, -60px);
    z-index: 2;
}

.div-img-proyects {
    margin-right: 40px;
}



.project-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 2rem;  
}

.project-info h3 {
    font-size: 1.6rem;
}

.project-info p {
    line-height: 1.7;
}

.project-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-tags span {
    background: #3F5EFB;
    color: white;
    padding: 5px 12px;
    border-radius: 50px;
    font-size: .85rem;
}


/* ANIMACIONES */


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 798px) {

    .img-landing {
        transform: none;
    }

    .div-img-proyects {
        margin-left: 40px;
        
    }

}